<h1>Home#index</h1>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
<hr>
<div data-controller="clipboard members dashboard">
  PIN: <input type="text" data-target="clipboard.source" value="123456" readonly>
  <button data-action="clipboard#copy" class="clipboard-button btn btn-primary">
    Copy to Clipboard
  </button>
</div>
<hr>
<div data-controller="hello">
  <input data-target="hello.name" type="text">

  <button data-action="click->hello#greet">
    Greet
  </button>

  <span data-target="hello.output">
  </span>
</div>
<!-- For test the jquery using in views -->
  <script>
  $('.clipboard-button').html('text changed with jQuery in views');

  </script>
